<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Player Groups</li>
</ol>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Groups</h2>


<div *ngIf="playerGroupList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type} m-2}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>

          <th class="border-top-0" scope="col">Group name</th>
          <th class="border-top-0" scope="col">Max number of players</th>
          <th class="border-top-0" scope="col">Group owner</th>
          <th class="border-top-0" scope="col">Is private</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of playerGroupList" [class.active]="item === selectedPlayerGroup">
        <tr *ngIf='item.isPrivate === false && href === "/playerGroupsAll"; else usersGroups'>
          <td><button (click)="newPlayerGroupIdAndTotalMembers(item.playerGroupId.toString(), item.totalNumberOfPlayers)" [routerLink]="['/userGroupses']" class="btn btn-info"  >{{item.groupName}}</button></td>
          <td>{{item.totalNumberOfPlayers}}</td>
          <td>{{item.groupOwner}}</td>
          <div *ngIf="item.isPrivate === true; else none" >
            <td>&#10003;</td>
          </div>
          <ng-template #none >
            <td>&#10007;</td>
          </ng-template >
          <td  *ngIf="item.groupOwner === userName;" style="white-space: nowrap">
            <a [routerLink]="['../playerGroups', item.playerGroupId ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        <ng-template #usersGroups>
          <tr *ngIf=' href === "/playerGroups"'>
            <td><button (click)="newPlayerGroupIdAndTotalMembers(item.playerGroupId.toString(), item.totalNumberOfPlayers)" [routerLink]="['/userGroupses']" class="btn btn-info"  >{{item.groupName}}</button></td>
            <td>{{item.totalNumberOfPlayers}}</td>
            <td>{{item.groupOwner}}</td>
            <div *ngIf="item.isPrivate === true; else none" >
              <td>&#10003;</td>
            </div>
            <ng-template #none >
              <td>&#10007;</td>
            </ng-template >
            <td  *ngIf="item.groupOwner === userName;" style="white-space: nowrap">
              <a [routerLink]="['../playerGroups', item.playerGroupId ]" class="btn btn-secondary">Edit</a>&nbsp;
              <button (click)="delete(item)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </ng-template>

      </tbody>
    </table>
  </div>
</div>
  </div>

</div>
<div class="card-text">
  <form #f="ngForm" class="form-inline m-3">
    <a [routerLink]="['../playerGroups', 'new' ]" class="btn btn-outline-primary">Create new group</a>
  </form>
</div>
