<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">playerGroups</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">playerGroups List</h2>
  </div>
  <div class="content">
    <form #f="ngForm">

      <div class="form-group">
        <label for="groupName">Group name:</label>
        <input [(ngModel)]="filter.groupName" id="groupName" name="groupName" class="form-control">
      </div>

      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Search</button>
      <a [routerLink]="['../playerGroups', 'new' ]" class="btn btn-default">New</a>
    </form>
  </div>
</div>
<div class="card" *ngIf="playerGroupList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>

          <th class="border-top-0" scope="col">Group name</th>
          <th class="border-top-0" scope="col">Number of players</th>
          <th class="border-top-0" scope="col">Has all members</th>
          <th class="border-top-0" scope="col">Group owner</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of playerGroupList" [class.active]="item === selectedPlayerGroup">


          <td><a [routerLink]="['../playerGroups', item.playerGroupId ]">{{item.groupName}}</a></td>
          <td>{{item.totalNumberOfPlayers}}</td>
          <td>{{item.hasAllMembers}}</td>
          <td>{{item.groupOwner}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../playerGroups', item.playerGroupId ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
