<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Player Groups</li>
</ol>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Player Group Detail</h2>
    <div class="card-text">
      <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}
      </div>
    <form *ngIf="playerGroup" #editForm="ngForm" (ngSubmit)="save()">

      <div class="form-group">
        <label for="groupName">Group name</label>
        <input [(ngModel)]="playerGroup.groupName" id="groupName" name="groupName" class="form-control" required #name="ngModel" [ngClass]="{'is-invalid': name.touched && name.invalid, 'is-valid': name.touched && name.valid}">
        <div [hidden]="name.valid" style="display: block" class="invalid-feedback">
          Title is required
        </div>
      </div>

      <div class="form-group">
        <label for="totalNumberOfPlayers">Group size</label>
        <select class="form-control" type="number" [(ngModel)]="playerGroup.totalNumberOfPlayers" id="totalNumberOfPlayers" name="totalNumberOfPlayers">
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="4">Four</option>
          <option value="6">Six</option>
        </select>

      </div>
      <div class="form-group form-inline mr-2">
        <label for="isPrivate">Is Private</label>
        <input type="checkbox" [(ngModel)]="playerGroup.isPrivate" id="isPrivate" name="isPrivate" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
      <button type="button" class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
</div>
