<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">userGroupses</li>
</ol>
<div class="card">

  <div class="content m-3" >
      <button  (click)="newTournamentGroup(userGroupsList[0].userGroupsId.playerGroupIdEnrolled)" [routerLink]="['../tournamentGroups']" class="btn btn-secondary">View Tournament</button>
    </div>

  <div class="header m-3">
    <h2 class="title" *ngIf="userGroupsList.length > 0" >{{userGroupsList[0].groupName}}</h2>
  </div>
</div>
<div class="card" *ngIf="userGroupsList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>

          <th class="border-top-0" scope="col">Golf Username</th>
          <th class="border-top-0" scope="col">Is owner</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userGroupsList" [class.active]="item === selectedUserGroups">
          <td>{{item.golfUserName}}</td>
          <div *ngIf="item.isOwner === true; else none" >
            <td>&#10003;</td>
          </div>
          <ng-template #none >
            <td>&#10007;</td>
          </ng-template >
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="content m-3"  *ngIf="userGroupsList.length < totalNumberOfPlayers; else groupFull">
  <button (click)="newUserGroup(userGroupsList[0].userGroupsId.playerGroupIdEnrolled)" [routerLink]="['../userGroupses', 'new' ]" class="btn btn-secondary">Join Group</button>
</div>
<ng-template #groupFull>
  <p>This group is fully subscribed</p>
</ng-template>
<div class="content m-3" >
  <button [routerLink]="['/playerGroups']" class="btn btn-primary" >Back to groups</button>
</div>
