<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">userGroupses</li>
</ol>
<div class="card">

  <div class="content">
      <button [routerLink]="['/playerGroups']" class="btn btn-primary">Back to groups</button>
      <button [routerLink]="['../userGroupses', 'new' ]" class="btn btn-secondary">New</button>
  </div>
  <div class="header m-3">
    <h2 class="title" *ngIf="userGroupsList.length > 0" >{{userGroupsList[0].groupName}}</h2>
  </div>
</div>
<div class="card" *ngIf="userGroupsList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>

          <th class="border-top-0" scope="col">Golf Username</th>
          <th class="border-top-0" scope="col">Is owner</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userGroupsList" [class.active]="item === selectedUserGroups">
          <td>{{item.golfUserName}}</td>
          <div *ngIf="item.isOwner === true; else none" >
            <td>&#10003;</td>
          </div>
          <ng-template #none >
            <td>&#10007;</td>
          </ng-template >
          <td style="white-space: nowrap" *ngIf="item.isOwner === true && item.golfUserName === userName;">
            <button (click)="delete(item)" class="btn btn-danger">Remove Player</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
