<div>
  <p><button class="btn btn-outline-primary" routerLink="/playerGroups" *ngIf="isAuthenticated">View your Groups</button></p>
  <p>Welcome to Golf Stars!</p>
  <p>This is a game where you can pit your knowledge about the game of golf against friends and strangers and see who comes out on top</p>
  <p>The game is straightforward.</p>
  <p>1) Create a new group or join and existing one</p>
  <p>2) Each group has one, two, four or six members</p>
  <p>3) Pick your preferred golfers in the current tournament. The size of the group dictates how many picks you get</p>
  <p>In a group of one or two players, each player gets to choose six golfers. In a group of four, each player gets four choices.</p>
  <p>In a group of six, each player can choose three golfers</p>
  <p>4) Once everyone has made their selections (on a first come / first served basis), points will be awarded based on tournament results</p>
  <p>5) A first place player earns 10 points, second place eight points, third to sixth place earns six points, seventh to twelfth earns four points and thirteenth to twentieth earns two points</p>
  <p>Have fun and good luck!</p>

</div>
